{% extends "base2.html" %}
{% load static %}

{% block link %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/projects_css/what_that_poke.css' %}">
<script src="{% static 'js/pokemon.js' %}"></script>
{% endblock link %}

{% block title %}Upcoming project{% endblock title %}

{% block projActive %}active{% endblock projActive %}

{% block body %}
<section>
    <div class="upcommingProject">
        <h4>The project is not avaible yet. I will update it soon.</h4>
    </div>
</section>
{% endblock body %}