{% extends "base2.html" %}
{% load static %}

{% block link %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/projects_css/what_that_poke.css' %}">
<script src="{% static 'js/pokemon.js' %}"></script>
{% endblock link %}

{% block title %}What's that Pokemon?{% endblock title %}

{% block projActive %}active{% endblock projActive %}

{% block body %}

<section>
    <div class="wrapper">
        <div class="max-width">
            <div class="left">
                <h1>What's that Pokemon? Build Your Own Pokedex</h1>
                <h3>Click on your favorite pokemons!</h3>
                <div class="pokemon">

                </div>
            </div>

            <div class="right">

            </div>
        </div>
    </div>
</section>
<div class="container mb-3 d-flex justify-content-center">
    <div class="backButton text-center">
        <a href="/projects" class="py-3 px-3">Back</a>
    </div>
</div>
{% endblock body %}