.main-game {
    background-color: #fff;
}

#main-game h2{
    color: #f2f2f2;
    text-align: center;
    font-size: 70px;
    margin-bottom: 4%;
    font-weight: bold;
    letter-spacing: 3px;
    word-spacing: 7px;
    text-shadow: 4px 4px 5px rgba(29, 28, 28, 0.5);
    color: rgb(212, 35, 94);
}

#main-game #updates{
    float: right;
    font-size: 40px;
    margin:100px 130px 100px;
    color: black;
}

#main-game #game{
    display: left;
    width: 785px;
    height:auto;
    margin:10px 20px 20px 100px;
    border: 2px solid white;
    background-color: black;
    box-shadow: 4px 4px 13px 0px rgba(119, 116, 128,1);
    background-color: rgb(240, 116, 158);
}
#main-game #timer{
    margin:50px;
    margin-left:45px;
    text-align: center;
    color: white;
    text-shadow: 1.5px 1.5px 2px rgba(29, 28, 28, 0.5);
}
#main-game #score{
    margin:50px;
    margin-left:38px;
    text-shadow: 1.5px 1.5px 2px rgba(29, 28, 28, 0.5);
    color: white;
}
#main-game #new{
    background-color: white;
    color: rgb(219, 18, 52);
    margin:16px;
    font-size:40px;
    font-weight: 500;
    text-shadow: 2px 2px 2px rgba(29, 28, 28, 0.5);
    border:3px solid grey;
    box-shadow: 2px 2px 13px 0px rgb(110, 107, 106);
    font-family: serif;
}
#main-game #new:hover{
    cursor:pointer;
    background-color: #f0dede;
}
#main-game #game .cards{
    width:148px;
    height:140px;
    border: 1px solid blueviolet;
    display:inline-block;
    margin:2px;
    background-color: white;
}
#main-game #game img{
    width:140px;
    height:105px;
    text-align: center;
    
}
#main-game .cards:hover{
    cursor: pointer;
    background-color: #f0dede;
}
#main-game .front{
    position: absolute;
    width:148px;
    height:125px;
    font-size: 100px;
    font-weight: bolder;
    text-align: center;
    margin:0px;
    text-shadow: 4px 3px 7px rbga(94, 119, 115, 0.82);
    transform:rotateY(0deg);
    transition: transform 0.5s linear 0s; /*transition: property time-durattion type delay;*/
    backface-visibility: hidden;
}
#main-game .back{
    position: absolute;
    width:147px;
    height:125px;
    padding:0px;
    transform:rotateY(180deg);
    transition: transform 0.5s linear 0s; /*transition: property time-durattion type delay;*/
    backface-visibility: hidden;
}
#main-game #opacity{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity:0.7;
    background-color: black;
    z-index: 10;
}
#main-game #result{
    z-index: 10;
    position: fixed;
    width:500px;
    height:320px;
    padding:2px;
    height:auto;
}
#main-game #popBody{
    background-color: white;
    height:250px;
    border-style: solid;
    border-width: 2px 2px 0px 2px;
    border-color:#511591;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}
#main-game #imgDiv{
    position:relative;
    top:10px;
    width:100px;
    height:107px;
    margin: 20px auto;
}
#main-game #imgDiv img{
    width:100px;
    height:107px;
}
#main-game #h1Res{
    margin: 0px 12px 12px 12px;
    text-align: center;
    font-family: cursive;
    color: #971313;
}
#main-game #pRes{
    color: #971313;
    font-family: cursive;
    text-align: center;
    font-size: 20px;   
}
#main-game #popOkay{
    height:100px;
    background-color:#d33640;
    padding:25px;
    border-style: solid;
    border-width: 0px 2px 2px 2px;
    border-color:#511591;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}
#main-game #okayButton{
    height: 50px;
    width:95px;
    margin: 0px auto;    
}
#main-game #okayButton button{
    height: 50px;
    width:95px;
    text-align:center;
    font-size: 18px;
    background-color: #4d0000;
    color:white;
    box-shadow: 0px 2px 2px 0.5px rgba(128, 122, 122, 0.5);  /*horizontal vertical spread blurry opacity*/
    text-shadow: 0px 2px 2px rgba(145, 137, 137, 0.3);
    border-radius: 5px;
    border:none;
    cursor: pointer;
    outline:none;
}

#main-game .backButton a{
    font-size: 20px;
    color: white;
    text-decoration: none;
    
}
#main-game .backButton .btn-success a:hover{
    color: #0e743b;
    background-color:none;
  }
#main-game .backButton button{
    margin-top: 50px;
}
/* #head, #game, #updates{
    display:none;
}  */
#main-game #opacity, #result{
    display:none;
}

.container .backButton {
    display: inline-block;
    background:rgb(27, 95, 30);
    font-size: 20px;
    padding: 8px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border:2px solid rgb(27, 95, 30);
    transition: all 0.3s ease;
    right: 30px;
    bottom:10px;
}
.container .backButton a{
    color: #fff;
    text-decoration: none;
}
.container .backButton:hover {
    background: none;
}
.container .backButton:hover a{
    color:rgb(27, 95, 30);
}

@media screen and (max-width: 1400px){
    #main-game #game .cards{
        width:110px;
        height:90px;
        
    }
    #main-game #game img{
        width:110px;
        height:90px;
    }
    #main-game #game{
        display: left;
        width: 600px;
        height:auto;
        margin:10px 20px 20px 100px;
        border: 2px solid white;
        background-color: black;
        box-shadow: 4px 4px 13px 0px rgba(119, 116, 128,1);
        background-color: rgb(240, 116, 158);
    }

    #main-game .front{
        position: absolute;
        width:110px;
        height:90px;
        font-size: 70px;
        font-weight: bolder;
        justify-content: center;
        display: flex;
    }
}