{% extends "base2.html" %}
{% load static %}
{% block link %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.12/typed.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
{% endblock link %}
{% block title %}About{% endblock title %}
{% block aboutActive %}active{% endblock aboutActive %}
{% block body %}

<!-- about section -->
<section class="about" id="about">
  <div class="max-width">
    <h2 class="title text-center">About me</h2>
    <div class="about-content">
      <div class="column left">
        <img src="{% static 'img/me2.jpg' %}" alt="personal image">
      </div>
      <div class="column right">
        <div class="text"> I'm Thao and I'm a <span class="typing">Software Developer</span>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit reiciendis temporibus accusamus
          unde qui tempora omnis quam voluptates a perspiciatis quo, maxime magnam! Dolore facere
          consequatur, eveniet soluta porro distinctio deserunt ea iusto atque. Veritatis, dolor illo
          sit doloribus magnam perspiciatis, facere reiciendis ipsa similique asperiores aperiam
          possimus inventore fugiat tenetur, doloremque incidunt laborum quasi? Accusantium
          reprehenderit nihil impedit quo.</p>
        <a href="/static/pdf/Resume_18.pdf" download="resume">Download CV</a>
      </div>
    </div>
  </div>
</section>
<!-- service section -->
<section class="services" id="services">
  <div class="max-width">
    <h2 class="title text-center">My services</h2>
    <div class="serv-content">
      <div class="mycard">
        <div class="box">
          <i class="fas fa-paint-brush"></i>
          <div class="text">Web Design</div>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt praesentium fugit, dignissimos harum
            odio dolores.</p>
        </div>
      </div>
      <div class="mycard">
        <div class="box">
          <i class="fas fa-chart-line"></i>
          <div class="text">Advertising</div>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt praesentium fugit, dignissimos harum
            odio dolores.</p>
        </div>
      </div>
      <div class="mycard">
        <div class="box">
          <i class="fas fa-code"></i>
          <div class="text">Apps Design</div>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt praesentium fugit, dignissimos harum
            odio dolores.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- skills section -->
<section class="skills" id="skills">
  <div class="max-width">
    <h2 class="title text-center">My skills</h2>
    <div class="skills-content">
      <div class="column left">
        <div class="text">My creative skills & experiences.</div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum nisi quaerat exercitationem placeat porro
          ut maxime voluptas molestias pariatur, quas, enim unde in voluptatem culpa eveniet, quae accusantium
          necessitatibus blanditiis temporibus totam veritatis illo. Facere error, est ipsam beatae voluptatum corporis
          quia nobis expedita labore ex! Veniam suscipit, at voluptatum cupiditate explicabo, voluptates repudiandae
          minus, quasi temporibus ratione praesentium consectetur.</p>
        <a href="#">Read more</a>
      </div>
      <div class="column right">
        <div class="bars">
          <div class="info">
            <span>HTML</span>
            <span>90%</span>
          </div>
          <div class="line html"></div>
        </div>
        <div class="bars">
          <div class="info">
            <span>CSS</span>
            <span>60%</span>
          </div>
          <div class="line css"></div>
        </div>
        <div class="bars">
          <div class="info">
            <span>JavaScript</span>
            <span>50%</span>
          </div>
          <div class="line js"></div>
        </div>
        <div class="bars">
          <div class="info">
            <span>SQL</span>
            <span>70%</span>
          </div>
          <div class="line sql"></div>
        </div>
        <div class="bars">
          <div class="info">
            <span>VBA</span>
            <span>85%</span>
          </div>
          <div class="line vba"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- team section -->
<section class="teams" id="teams">
  <div class="max-width">
    <h2 class="title text-center">My teams</h2>
    <div class="carousel owl-carousel">
      <div class="mycard">
        <div class="box">
          <img src="{% static 'img/slider8.jpg' %}" alt="">
          <div class="text">Someone name</div>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
        </div>
      </div>
      <div class="mycard">
        <div class="box">
          <img src="{% static 'img/slider4.jpg' %}" alt="">
          <div class="text">Someone name</div>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
        </div>
      </div>
      <div class="mycard">
        <div class="box">
          <img src="{% static 'img/slider1.jpg' %}" alt="">
          <div class="text">Someone name</div>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
        </div>
      </div>
      <div class="mycard">
        <div class="box">
          <img src="{% static 'img/slider13.jpg' %}" alt="">
          <div class="text">Someone name</div>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
        </div>
      </div>
      <div class="mycard">
        <div class="box">
          <img src="{% static 'img/me.jpg' %}" alt="">
          <div class="text">Someone name</div>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- video section -->
<section class="videos py-3" id="videos">
  <div class="container-md my-3 py-3">
    <h1 class="title text-center my-3 py-3 ">My Coding Videos</h1>
    <div class="ratio ratio-21x9">
      <iframe src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" title="YouTube video" allowfullscreen></iframe>
    </div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi vero nobis explicabo sed odio consectetur modi
      impedit,
      cupiditate repudiandae quae quod assumenda maiores? Necessitatibus?
    </p>
</section>

</div>

{% endblock body %}

<!-- <footer class="bg-dark py-2 position-relative fixed-bottom">
    <p class="text-center text-muted">Copyright 2021 &copy; Evangelista | All rights reserved</p>
  </footer> -->
<!-- <footer class="mt-auto text-center text-muted bg-dark py-2">
    <div class="container">
      <p>Copyright &copy; Evangelista | All rights reserved</p>
    </div>
  </footer> -->

<!-- </body> -->
<!-- <script>
  //Get the button
  var mybutton = document.getElementById("myBtn");

  // When the user scrolls down 20px from the top of the document, show the button
  window.onscroll = function () { scrollFunction() };

  function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      mybutton.style.display = "block";
    } else {
      mybutton.style.display = "none";
    }
  }

  // When the user clicks on the button, scroll to the top of the document
  function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  }
</script> -->

<!-- <div class="backToTop my-3 mx-3">
  <div class="d-flex flex-row-reverse pr-3">
    <button onclick="topFunction()" id="myBtn" type="button" class="btn btn-warning ml-2">
      Back to top <i class="fa fa-chevron-up"></i>
    </button>
  </div>
</div> -->