{% extends "base2.html" %}
{% load static %}
{% block title %}About{% endblock title %}
{% block resumeActive %}active{% endblock resumeActive %}
{% block body %}

  <!-- ======= Resume Section ======= -->
  <section id="resume" class="resume">
    <div class="container-md" >
      <div class="div-title">
        <h1 class="fw-bold text-center mb-3 py-3">Resume</h1>
        <div class="row d-flex justify-content-center">
          <div class="col text-center">
            <a href="https://github.com/thao97py"> <i class="fab fa-github-square fa-3x" ></i> </a>
            </i>
          </div>
          <div class="col  text-center">
            <a href="https://www.linkedin.com/in/thao97py/"> <i class="fab fa-linkedin fa-3x"></i> </a>
          </div>
          <div class="col  text-center">
             <p><i class="fas fa-phone fa-3x"></i>+1 206-637-9560 </p>
          </a>
          </div>
        </div>
      </div>

      <div class="row justify-content-around">
        <div class="col-lg-6">
          <h3 class="resume-title">Sumary</h3>
          <div class="resume-item pb-0">
            <h4>Thao Truong</h4>
            <p><em>Looking to join Excel networks as a software engineer to provide a variety of software solutions, 
              including database management and programming.</em>
            </p>
            <p>
            <ul class="list-unstyled">
              <li><i class="fas fa-map-marked-alt fa-lg"></i> Seattle,WA 98188</li>
              <li><i class="fas fa-envelope fa-lg"></i> phuongthao97py@gmail.com</li>
            </ul>
            </p>
          </div>

          <h3 class="resume-title">Education</h3>
          <div class="resume-item">
            <h4>Bachelor's Degree of Computer Science</h4>
            <h5>2018 - 2020</h5>
            <p><em>SEATTLE UNIVERSITY, Seattle, WA</em></p>
            <ul>
              <li>GPA: 3.5/ 4.0</li>
              <li>Member of Tau sigma Honor Society</li>
            </ul>
          </div>
          <div class="resume-item">
            <h4>Associate of Degree of Science</h4>
            <h5>2016 - 2018</h5>
            <p><em>SEATLE CENTRAL COLLEGE, Seattle, WA</em></p>
            <ul>
              <li>GPA: 3.96 / 4.0</li>
              <li>Certificate of Leader Achievement</li>
              <li>Member of Phi Theta Kappa</li>
            </ul>
          </div>

          <h3 class="resume-title">Skills</h3>
          <div class="resume-item">
            <h4>Competent In</h4>
            <p>C/C++, C#,Python, VBA, VB.Net, OpenCV, Machine Learning, Darknet, Java,
              JavaScript, Python, SQL, MySQL, Angular, HTML/CSS, Window, Unix/Linux, Git, Node.JS.
            </p>
            <h4>Comfotable With</h4>
            <p>Django, Ruby on Rails, AWS, Microsoft Azure, ASP.Net, MVC</p>
          </div>

          <h3 class="resume-title">Volunteer</h3>
          <div class="resume-item">
            <h4>Front Desk Receptionist</h4>
            <h5>Apr 2017 - Oct 2017</h5>
            <p><em>Real Change Homeless Project, Seatle, WA </em></p>
            <p>
            <h4>Algebra Math Tutor</h4>
            <h5>Nov 2016 - Jun 2017</h5>
            <p><em>Seattle Central College, Seatle, WA </em></p>
            <h4>Office Assistance</h4>
            <h5>Apr 2017 - Jun 2017</h5>
            <p><em>Helping Link/ Mot Dau Noi, Seatle, WA </em></p>
          </div>
        </div>

        <div class="col-lg-6">
          <h3 class="resume-title">Work Experience</h3>
          <div class="resume-item">
            <h4>Software Data Operation Engineer</h4>
            <h5>May 2021 - Present</h5>
            <p><em>MAQ SOFTWARE, Redmond, WA </em></p>
            <p>
            <ul>
              <li>Led a team to design, develop, test, and deliver software solution to solve data problems by writing
                VBA based Applications.</li>
              <li>Created macros and formulas to automate repetitive tasks and accelerate the workflow of a business.
              </li>
              <li>Collaborated with Project Manager and worked directly with finance department
                to ensure products provide the best possible customer experience.
              </li>
            </ul>
            </p>
          </div>
          <div class="resume-item">
            <h4>Research Assistant, Deep Learning for Eye Cancer Detection</h4>
            <h5>Jun 2020 - Aug 2020</h5>
            <p><em>SEATTLE UNIVERSITY, Seattle, WA</em></p>
            <p>
            <ul>
              <li>Preprocessed fundus images by using DenseNets architecture to automatically
                extract blood vessel.</li>
              <li>Solved problem of limited data by doing data augmentation.</li>
              <li>Implemented YOLOv3 model and transfer learning to perform training, and
                tested the model performance for the diagnosis of diabetic retinopathy.</li>
            </ul>
            </p>
          </div>
          <div class="resume-item">
            <h4>Software Engineer Internship, Web Application</h4>
            <h5>Oct 2019 - Jun 2020</h5>
            <p><em>ASTRONICS CORP, Krikland, WA </em></p>
            <p>
            <ul>
              <li>Collectively rebuilt a web-based system authored in Ruby on Rails into a web
                application using C# and ASP.Net/SQL Server.</li>
              <li>Constructed data sending to database server using Web API</li>
              <li>Curated an in person presentation to present and assess team deliverable.
                Utilized client feedback to improve user experience.                
              </li>
            </ul>
            </p>
          </div>
          <div class="resume-item">
            <h4>Software Engineering Internship, Machine Learning</h4>
            <h5>Jul 2019 - Sep 2019</h5>
            <p><em>TMA Solutions, HCMC, Vietnam </em></p>
            <p>
            <ul>
              <li>Prepared and processed a dataset to train neural networks to detect facial
                expression on images with Darknet framework.
              </li>
              <li>Collaboratively created an AI app connects with IP of a camera to locate and
                detect human bodies in the video stream, and returns a set of images with highprecision body bounding boxes.
              </li>
            </ul>
            </p>
          </div>

          <h3 class="resume-title">Projects</h3>
          <div class="resume-item">
            <h4>Memory Game</h4>
            <p>Independently developed a game running on local host to test and
              improve brain memory. User flips cards to find pairs of same images. Score
              shows number of pairs of cards are matched within time period.              
            </p>
            <h4>Portfolio Website</h4>
            <p>Build a Portfolio using Django, Boostrap, Javascript, HTML, CSS, PostGreSQL</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container d-flex justify-content-end">
      <a href="/static/pdf/Resume_18.pdf" download="resume">Download CV</a>
    </div>
  </section><!-- End Resume Section -->
  
{% endblock body %}






